.centrado{
    display:grid;
    justify-content: center;
}
h1{
    text-align: center;
}
button{
    margin-top: 20px;
    width: 12em;
    height: 3em;
    border: 0.5 px solid black;
    background-color:#0078FF;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1em;
    
    
}
label{
    font-family: 'Times New Roman', Times, serif;
}
input{
    width: 25em;
    height: 2em;
}
p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.center{
    display:grid;
    place-content: center;
    gap: 3px;
}
